
<br/>
<%= render 'shared/search'%>
<div class="top">
    <%= render 'shared/sort' %>
    <%= render 'shared/city' %>
    <h3 id="current_postings">Current Job Postings</h3>
    
</div>

<%= render 'shared/listings' %>
