@import "bootstrap";

@import "bootstrap-sprockets";
#logo {
    width: 100%;
}
.filters {
    margin-top: 30px;
    line-height: 7px;
}
.category {
    color: grey;
}

#listing {
    border-top: 2px solid gray;
    line-height: 130%;
    
}


#salary {
    color: rgb(55, 196, 130);
}
#deadline {
    float:right;
}
.current_category a {
    color: black !important;
}

@media only screen and (max-width: 767px) {
    #logo {
        width: 25%;
    }
}

@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/assets/glyphicons-halflings-regular.eot');
   src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/glyphicons-halflings-regular.woff') format('woff'),
      url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
      url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
